body {
	font-family: Arial, Arial, Helvetica, sans-serif;
	background-image: url(../images/canberra.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
}
section{
	background-color:rgba(255,224,223,0.5);
	margin: 20px 5px 70px 20px;
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	padding: 20px;
	border-style: outset;
	border-width: 7px;
	
					
	                       
}
header{
	font-size: 20px;
	font-weight: bold;
	color: brown;
	
}
h1, h2, h3, h4, h5, h6, p{
	margin-left: 20px;
	
			
	       
}
ul > li {
	font-weight: bold;
}
#linearshadow {
	background: linear-gradient(to right, lightgray, lightblue);
	box-shadow: 10px 10px navy;
	border-radius: 25px 25px 25px 25px;
}
.niconne{
	font-family: 'Niconne', cursive;
	font-size: xx-large;
	color: navy;
}
.Oxygen{
	font-family:"Oxygen", sans-serif;
	letter-spacing: 7px;
	text-transform: uppercase;
	text-align: center;
}
figure {
	height: 300px;
	width: 300px;
	position: relative;
}
img {
	width: 100px;
	height: 100px
}
figcaption {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right:0px;
	position: absulute;
	background: linear-gradient(to bottom, lightblue, orange);
	box-shadow: 10px 10px navy;
	font-family: Arial, sans-serif;
	font-size: 3em;
	text-align: center;
	text-shadow: 4px 3px white;
	padding-top: 20%;
	visibility: hidden;
}
figure:hover > figcaption {
	visibility: visible;
}

